@use "../imports/mappy-breakpoints";
@use "../logic/variables.global";
@use "../logic/variables.supports" as variables2;

.l-content {
	// Contexts
	.template-home &,
	.template-posts &,
	.template-checklist &,
	.template-resources &,
	.template-collections & {
		padding-top: 3rem;

		// Breakpoints
		@include mappy-breakpoints.mappy-bp(lap-small) {
			padding-top: 0;
		}
	}

	.template-post &,
	.template-about &,
	.template-resources &,
	.template-generic & {
		max-width: variables.$global-type-measure;
	}

	// Supports
	@supports #{variables2.$supports-grid} {
		grid-area: content;
	}
}
