@use "sass:map";
@use "../imports/mappy-breakpoints";
@use "../logic/variables.global" as variables2;
@use "../logic/variables.supports";

.l-lip {
	// Supports
	@supports #{variables.$supports-grid} {
		// Breakpoints
		@include mappy-breakpoints.mappy-bp(lap-small) {
			display: grid;
			grid-template-columns: map.get(variables2.$global-bleed, large) variables2.$global-grid-columns map.get(variables2.$global-bleed, large);
			grid-template-rows: 3rem;
			grid-template-areas: ". hollow fill fill";
		}
	}
	// Contexts
	.template-home &,
	.template-post &,
	.template-simple & {
		display: none;
	}
}


.l-lip__hollow {
	grid-area: hollow;
}


.l-lip__fill {
	grid-area: fill;
}
