@use "sass:map";
@use "../imports/mappy-breakpoints";
@use "../logic/variables.global";
@use "../logic/variables.supports" as variables2;

.l-main {
	.template-home &,
	.template-posts &,
	.template-checklist &,
	.template-resources &,
	.template-about &,
	.template-contribute &,
	.template-authors &,
	.template-team &,
	.template-generic &,
	.template-spotlight &,
	.template-collections & {
		margin-right: map.get(variables.$global-bleed, small);
		margin-left: map.get(variables.$global-bleed, small);

		// Breakpoints
		@include mappy-breakpoints.mappy-bp(palm-medium) {
			margin-right: map.get(variables.$global-bleed, large);
			margin-left: map.get(variables.$global-bleed, large);
		}

		// Supports
		@supports #{variables2.$supports-grid} {
			// Breakpoints
			@include mappy-breakpoints.mappy-bp(lap-small) {
				display: grid;
				grid-template-columns: map.get(variables.$global-bleed, large) variables.$global-grid-columns map.get(variables.$global-bleed, large);
				grid-template-areas: ". toc content .";
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}
