@use "sass:map";
@use "../imports/mappy-breakpoints";
@use "../logic/variables.global";
@use "../logic/variables.supports" as variables2;

.l-simple {
	padding: map.get(variables.$global-bleed, large) map.get(variables.$global-bleed, small);

	// Breakpoints
	@include mappy-breakpoints.mappy-bp(wrist-large) {
		padding-right: map.get(variables.$global-bleed, large);
		padding-left: map.get(variables.$global-bleed, large);
	}

	// Supports
	@supports #{variables2.$supports-flex} {
		display: flex;
		align-items: center;

		// Breakpoints
		@include mappy-breakpoints.mappy-bp(palm-large) {
			justify-content: center;
		}
	}
}
