<nav id="primary-navigation" class="l-primary-nav c-primary-nav" aria-label="Primary">

	<div id="logo" class="l-primary-nav__logo c-logo">
		<a class="c-logo__link" href="{{ '/' | url }}">
			<div aria-hidden="true" class="c-logo__lockup">
				{% include "nav/svg/logo-icon.njk" %}
				{# {% include "nav/svg/logo-wordmark.njk" %} #}
			</div>
			<p class="u-hide-visually">
				{{ metadata.title }}
			</p>
		</a>
	</div>

	<ul class="l-primary-nav__sections c-primary-nav__list">
	{% set features = collections.all | eleventyNavigation("Feature") %}
	{% for entry in features %}
		<li class="c-primary-nav__list-item">
			<a class="c-primary-nav__link"
				{% if page.url == entry.url %}
					aria-current="page"
				{% endif %}
				href="{{ entry.url | url }}">
					{{ entry.title }}
			</a>
		</li>
	{% endfor %}
			<li class="c-primary-nav__list-item">
			<a class="c-primary-nav__link"
				href="https://www.gvois.com">
					GVOIS
			</a>
		</li>
	</ul>

</nav>
