@use "../imports/mappy-breakpoints";
@use "../logic/mixins.var";
@use "../logic/variables.borders";
@use "../logic/variables.font-families" as variables3;
@use "../logic/variables.font-sizes" as variables2;
@use "../logic/variables.font-tracking" as variables4;

// A11Y Banner
//
// The A11Y Banner boldly and directly explains what the neuronym "A11Y" is, as
// well as the site's mission. It is meant to be placed inside the homepage's
// hero component.
//
// Style guide: Components.banner-a11y
.c-a11y-summary {
    @include mixins.var(background-color, hero-content-background);
    border-top: variables.$border-thicker solid;
    @include mixins.var(border-color, hero-content-accent);
    @include mixins.var(color, hero-content-text);

    padding: 1.5rem;
    margin: 1rem 0;

    // Breakpoints
    @include mappy-breakpoints.mappy-bp(palm-small) {
        margin: 3rem 0;
    }

    @include mappy-breakpoints.mappy-bp(palm-large) {
        padding: 2rem 7rem 2.75rem;
    }
}

.c-a11y-summary__explanation {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;


    // Breakpoints
    @include mappy-breakpoints.mappy-bp(wrist-large) {
        font-size: variables2.$font-size-heading-tiny;
    }

    @include mappy-breakpoints.mappy-bp(palm-medium) {
        font-size: variables2.$font-size-heading-medium;
    }

    @include mappy-breakpoints.mappy-bp(palm-large) {
        font-size: variables2.$font-size-heading-larger;
    }
}

.c-a11y-summary__accessibility {
    display: block;
    font-family: variables3.$font-family-secondary;
    font-size: variables2.$font-size-heading-medium;
    letter-spacing: variables4.$font-tracking-slight;

    // Breakpoints
    @include mappy-breakpoints.mappy-bp(wrist-large) {
        letter-spacing: variables4.$font-tracking-loose;
    }

    @include mappy-breakpoints.mappy-bp(palm-large) {
        font-size: variables2.$font-size-heading-large;
    }
}

.c-a11y-summary__11-characters {
    font-size: variables2.$font-size-heading-tiny;
    width: 11rem;

    // Breakpoints
    @include mappy-breakpoints.mappy-bp(wrist-large) {
        width: 15.25rem;
    }

    @include mappy-breakpoints.mappy-bp(palm-medium) {
        width: 17rem;
    }
}

.c-a11y-summary__mission {
    font-family: variables3.$font-family-secondary;
    font-size: variables2.$font-size-body;
    margin-top: 2rem;
    max-width: 40ch;
    text-align: center;

    // Breakpoints
    @include mappy-breakpoints.mappy-bp(palm-medium) {
        font-size: variables2.$font-size-body-medium;
    }
}
