@use "sass:map";
@use "../brand/colors";
@use "../logic/variables.borders" as variables3;
@use "../logic/variables.font-families";
@use "../logic/variables.global" as variables2;

.c-blm-banner {
	background-color: #211009;
	color: map.get(colors.$colors, sand);
	font-family: variables.$font-family-secondary;
	padding: 0.25rem map.get(variables2.$global-bleed, small);
	text-align: center;

	// User Queries
	@media screen and (-ms-high-contrast: active) {
		background-color: windowText;
		color: window;
	}
}


.c-blm-banner__link {
	color: map.get(colors.$colors, "white");

	&:focus {
		background-color: map.get(colors.$colors, "white");
		color: map.get(colors.$colors, "black");
		outline: variables3.$border-thin solid map.get(colors.$colors, "white");

		&:hover {
			text-decoration: underline;
		}
	}
	// User Queries
	@media screen and (-ms-high-contrast: active) {
		color: window;
	}
}
