@use "sass:map";
@use "../imports/mappy-breakpoints";
@use "../logic/mixins.var";
@use "../logic/variables.animation-duration" as variables8;
@use "../logic/variables.animation-easing" as variables9;
@use "../logic/variables.borders" as variables3;
@use "../logic/variables.font-families" as variables4;
@use "../logic/variables.font-sizes" as variables5;
@use "../logic/variables.font-tracking" as variables6;
@use "../logic/variables.global" as variables2;
@use "../logic/variables.line-heights" as variables7;
@use "../logic/variables.supports";

// Get Started
//
// The Get Started call-to-action provides a large guiding prompt for a person
// who is interested in learning about accessibility, but may not know where to
// begin.
//
// Markup:
// <p class="c-cta-get-started">
//   <a class="c-cta-get-started__link" href="">How do I get started?</a>
// </p>
//
// Style guide: Components.get-started
.c-cta-get-started {
    position: relative;
    bottom: 2rem;
    text-align: center;

    @include mappy-breakpoints.mappy-bp(lap-large) {
        bottom: 2.25rem;
    }

    // Supports
    @supports #{variables.$supports-grid} {
        display: grid;
        grid-template-columns: map.get(variables2.$global-bleed, small) 1fr map.get(variables2.$global-bleed, small);
        grid-template-areas: ". get-started .";

        // Breakpoints
        @include mappy-breakpoints.mappy-bp(palm-medium) {
            grid-template-columns: 1fr minmax(0, 60vw) 1fr;
            grid-template-areas: ". get-started .";
        }

        @include mappy-breakpoints.mappy-bp(lap-medium) {
            grid-template-columns: 1fr minmax(0, 45vw) 1fr;
        }
    }
}


.c-cta-get-started__link {
    @include mixins.var(background-color, button-background);
    border: variables3.$border-thick solid;
    @include mixins.var(border-color, body-background);
    @include mixins.var(color, button-text);
    font-family: variables4.$font-family-secondary;
    font-size: variables5.$font-size-body;
    letter-spacing: variables6.$font-tracking-slight;
    line-height: variables7.$line-height-tight;
    padding: 0.75rem 1rem;
    text-align: center;
    text-decoration: none;
    transition:
        background-color variables8.$animation-duration-shorter variables9.$animation-easing-character,
        color variables8.$animation-duration-shorter variables9.$animation-easing-character,
        letter-spacing variables8.$animation-duration-shorter variables9.$animation-easing-character;

    // States
    &:hover,
    &:focus {
        @include mixins.var(background-color, button-focus-background);
        outline: variables3.$border-thin solid transparent;
    }

    &:focus {
        letter-spacing: variables6.$font-tracking-loose;
    }

    // Breakpoints
    @include mappy-breakpoints.mappy-bp(wrist-large) {
        font-size: variables5.$font-size-body-medium;
        padding: 1rem 2rem;
    }

    // Supports
    @supports #{variables.$supports-grid} {
        grid-area: get-started;
    }

    // User Queries
    @media screen and (prefers-reduced-motion: reduce) {
        transition: none;
    }
}
