@use "../imports/mappy-breakpoints";
@use "../logic/mixins.preserve-list-semantics";
@use "../logic/variables.font-families";

.c-collection__list {
  @include mixins.preserve-list-semantics();
  counter-reset: collection-list;

  // Breakpoints
  @include mappy-breakpoints.mappy-bp(palm-medium) {
    margin-left: 0;
  }

  li {
    position: relative;
    counter-increment: collection-list;

    &::before {
      position: absolute;
      content: counter(collection-list) ".";
      display: block;
      font-family: variables.$font-family-secondary;
      font-size: 3ex;
      top: 1.25rem;
      left: 0;
    }
  }
}
