@use "../logic/mixins.var";
@use "../logic/variables.animation-duration";
@use "../logic/variables.animation-easing"as variables2;
@use "../logic/variables.borders"as variables4;
@use "../logic/variables.font-tracking"as variables3;
@use "../logic/variables.global"as variables6;
@use "../logic/variables.line-heights"as variables5;

.c-card-resource {
    position: relative;
    outline: 0.125rem solid transparent;
    z-index: 0;
}

.c-card-resource__body {
    @include mixins.var(background-color, card-background);

    & {
        margin-right: 1.25rem;
        margin-left: 1.5rem;
        padding: 1.5rem 2rem;
        transition:
            variables.$animation-duration-shorter variables2.$animation-easing-character background-color,
            variables.$animation-duration-shorter variables2.$animation-easing-character border-color,
            variables.$animation-duration-shorter variables2.$animation-easing-character color;
    }

    // States
    &:focus-within {
        @include mixins.var(background-color, card-focus-background);

        .c-card-resource__description,
        .c-card-resource__meta,
        .c-card-resource__title {
            @include mixins.var(color, card-focus-text);
        }
    }

    // User Queries
    @media screen and (prefers-reduced-motion: reduce) {
        transition: none;
    }
}


.c-card-resource__title {
    @include mixins.var(color, card-heading-text);

    & {
        letter-spacing: variables3.$font-tracking-tight;
    }

    // States
    &:hover,
    &:focus {
        text-decoration: none;
    }

    &:focus {
        outline: variables4.$border-thin solid transparent;
    }
}


.c-card-resource__meta {
    @include mixins.var(color, card-meta-text);

    & {
        line-height: variables5.$line-height-tight;
    }
}


.c-card-resource__description {
    max-width: variables6.$global-type-measure;
}