@use "../logic/mixins.var";
@use "../logic/variables.animation-duration";
@use "../logic/variables.animation-easing"as variables2;
@use "../logic/variables.borders"as variables5;
@use "../logic/variables.font-tracking"as variables4;
@use "../logic/variables.global"as variables3;

.c-card-post {
    @include mixins.var(color, card-text);
    @include mixins.var(background-color, card-background);

    & {
        padding: 1.5rem 2rem;
        transition:
            variables.$animation-duration-shorter variables2.$animation-easing-character background-color,
            variables.$animation-duration-shorter variables2.$animation-easing-character border-color,
            variables.$animation-duration-shorter variables2.$animation-easing-character color;
    }

    &:focus-within {
        @include mixins.var(background-color, card-focus-background);
        @include mixins.var(outline-color, card-focus-background);

        * {
            @include mixins.var(color, card-focus-text);
        }
    }

    // User Queries
    @media screen and (prefers-reduced-motion: reduce) {
        transition: none;
    }
}


.c-card-post__title,
.c-card-post__meta,
.c-card-post__description {
    max-width: variables3.$global-type-measure;
}


.c-card-post__title {
    @include mixins.var(color, card-heading-text);

    & {
        letter-spacing: variables4.$font-tracking-tight;
    }

    // States
    &:hover,
    &:focus {
        text-decoration: none;
    }

    &:focus {
        @include mixins.var(color, card-focus-text);

        & {
            outline: variables5.$border-thin solid transparent;
        }
    }
}


.c-card-post__meta {
    @include mixins.var(color, card-meta-text);
}


.c-card-post__author {
    color: currentColor;

    // States
    &:hover,
    &:focus {
        text-decoration: none;
    }

    &:focus {
        outline: variables5.$border-thin solid transparent;
    }
}
