@use "sass:map";
@use "../imports/mappy-breakpoints";
@use "../logic/mixins.var";
@use "../logic/variables.borders" as variables2;
@use "../logic/variables.font-sizes";
@use "../logic/variables.global" as variables3;

.c-dos-donts {
	margin-top: 1.5rem;

	// Text-level formatting
	p {
		@include mixins.var(background-color, card-background);
		padding: 1rem 1.5rem;
	}

	strong {
		font-size: variables.$font-size-body-small;
		text-transform: uppercase;
	}

	abbr {
		border-bottom: variables2.$border-thinnest dotted;
		@include mixins.var(border-color, do-accent);
	}

	p:first-of-type {
		margin-top: 0.5rem;
	}

	p:nth-child(odd) {
		border-left: variables2.$border-thick solid;
		@include mixins.var(border-color, do-accent);
	}

	p:nth-child(even) {
		border-left: variables2.$border-thick solid;
		@include mixins.var(border-color, dont-accent);
		margin-top: 1.25ex;

		// User queries
		@media screen and (-ms-high-contrast: active) {
			border-left: variables2.$border-thick solid highlight;
		}
	}

	// Breakpoints
	@include mappy-breakpoints.mappy-bp(palm-large) {
		margin-left: map.get(variables3.$global-post-content-inset, small) * -1.75;
		max-width: calc(#{variables3.$global-type-measure} * 1.25);
	}
}
