@use "sass:map";
@use "../imports/mappy-breakpoints";
@use "../logic/functions.rem";
@use "../logic/mixins.avatar-size" as mixins2;
@use "../logic/mixins.var";
@use "../logic/variables.borders" as variables2;
@use "../logic/variables.font-families" as variables3;
@use "../logic/variables.font-tracking" as variables4;
@use "../logic/variables.global" as variables5;
@use "../logic/variables.line-heights" as variables6;
@use "../logic/variables.supports";

// Homepage Card
//
// Style guide: Components.homepage-card
.c-homepage-card--checklist {

    // Supports
    @supports #{variables.$supports-flex} {
        display: flex;
        justify-content: flex-end;
    }
}


.c-homepage-card--resources {
    margin-right: 2rem;
}


.c-homepage-card--spotlight {

    // Breakpoints
    @include mappy-breakpoints.mappy-bp(wrist-large) {
        margin-right: 4rem;
    }

    // Supports
    @supports #{variables.$supports-flex} {

        // Breakpoints
        @include mappy-breakpoints.mappy-bp(palm-large) {
            justify-self: end;
        }
    }
}


.c-homepage-card__image-link {

    // States
    &:focus {
        outline: variables2.$border-thin solid currentColor;
    }
}


.c-homepage-card__image {
    cursor: pointer;
    margin-top: 3rem;
    filter: var(--image-filter);
}


img.c-homepage-card__image {
    max-height: 300px;
    width: auto;
    margin: 0 auto;
}

.c-homepage-card__author {
    @include mixins.var(color, card-heading-text);
    font-family: variables3.$font-family-secondary;
    letter-spacing: variables4.$font-tracking-slight;
    margin-top: 1.5rem;
}


.c-homepage-card__title {
    cursor: pointer;
    @include mixins.var(color, heading-text);
    text-decoration: none;
}


.c-homepage-card__description {
    font-family: variables3.$font-family-secondary;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 50ch;
}

.c-homepage-card__cta {
    border-bottom: variables2.$border-thinnest solid;
    @include mixins.var(border-color, secondary-link-accent);
    @include mixins.var(color, secondary-link-text);
    font-family: variables3.$font-family-secondary;
    margin-top: 1rem;
    text-decoration: none;

    // States
    &:hover,
    &:focus {
        border-bottom-color: transparent;
        text-decoration-color: transparent;
    }

    &:focus {
        @include mixins.var(background-color, secondary-link-focus-background);
        @include mixins.var(color, secondary-link-focus-text);
        outline: variables2.$border-thin solid;
        @include mixins.var(outline-color, secondary-link-focus-background);
    }

    // Supports
    @supports #{variables.$supports-underlines} {
        border-bottom: none;
        text-decoration: underline;
        @include mixins.var(text-decoration-color, secondary-link-accent);
        /* stylelint-disable-next-line property-no-unknown */
        text-decoration-thickness: variables2.$border-thinnest;
        text-underline-offset: 0.5rem;
    }
}


.c-homepage-card__checklist {
    height: auto;
    position: relative;
    left: map.get(variables5.$global-bleed, small);
    filter: var(--image-filter);

    // Breakpoints
    @include mappy-breakpoints.mappy-bp(wrist-large) {
        left: map.get(variables5.$global-bleed, large);
        width: functions.rem(400);
    }

    @include mappy-breakpoints.mappy-bp(palm-medium) {
        width: functions.rem(340);
    }
}


.c-homepage-card__spotlight-avatar {
    @include mixins2.avatar-size("large");
    position: relative;
}


.c-homepage-card__spotlight__info {
    @include mixins.var(background-color, featured-card-background);
    height: 13rem;
    margin-top: -7.5rem;
    margin-left: 4rem;
    padding: 1rem;
    text-align: right;
    width: 13rem;

    // Supports
    @supports #{variables.$supports-flex} {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}


.c-homepage-card__spotlight-name {
    font-family: variables3.$font-family-secondary;
}


.c-homepage-card__spotlight-role {
    @include mixins.var(color, featured-card-heading-text);
    font-family: variables3.$font-family-secondary;
    letter-spacing: variables4.$font-tracking-slight;
    line-height: variables6.$line-height-tighter;
}