@use "../logic/mixins.preserve-list-semantics" as mixins2;
@use "../logic/mixins.var";
@use "../logic/variables.animation-duration" as variables2;
@use "../logic/variables.animation-easing" as variables3;
@use "../logic/variables.borders";
@use "../logic/variables.font-families" as variables6;
@use "../logic/variables.line-heights" as variables5;
@use "../logic/variables.supports" as variables4;

// Linkroll
//
// Style guide: Components.linkroll
.c-linkroll {
	margin-top: 1rem;
}


.c-linkroll__link {
	border-left: variables.$border-thicker solid;
	@include mixins.var(border-color, linkroll-gray);
	padding: 1.25rem 1.75rem;
	text-decoration: none;
	transition:
		background-color variables2.$animation-duration-shorter variables3.$animation-easing-character,
		color variables2.$animation-duration-shorter variables3.$animation-easing-character;

	// States
	&:hover,
	&:focus {
		@include mixins.var(background-color, linkroll-gray-background);
	}

	// Supports
	@supports #{variables4.$supports-flex} {
		display: flex;
		flex-direction: column;
	}

	// User Queries
	@media screen and (prefers-reduced-motion: reduce) {
		transition: none;
	}

	&.announcements,
	&.experience,
	&.myth {
		@include mixins.var(border-color, category-pink);

		&:hover,
		&:focus {
			@include mixins.var(background-color, category-pink-background);
		}
	}

	&.assistive-technology,
	&.background {
		@include mixins.var(border-color, category-gray);

		&:hover,
		&:focus {
			@include mixins.var(background-color, category-gray-background);
		}
	}

	&.how-to {
		@include mixins.var(border-color, category-yellow);

		&:hover,
		&:focus {
			@include mixins.var(background-color, category-yellow-background);
		}
	}

	&.quick-test {
		@include mixins.var(border-color, category-blue);

		&:hover,
		&:focus {
			@include mixins.var(background-color, category-blue-background);
		}
	}

	&.quick-tip {
		@include mixins.var(border-color, category-green);

		&:hover,
		&:focus {
			@include mixins.var(background-color, category-green-background);
		}
	}
}


.c-linkroll__link--featured {
	border-top: variables.$border-thicker solid transparent;
	border-left: none;
}


.c-linkroll__entry {
	@include mixins2.preserve-list-semantics();
	@include mixins.var(background-color, card-background);
	margin-top: 1.25rem;
}


.c-linkroll__category {
	@include mixins.var(color, card-meta-text);
}


.c-linkroll__category--featured {
	padding-top: 1rem;
}


.c-linkroll__title {
	@include mixins.var(color, card-text);
	line-height: variables5.$line-height-tight;
	text-decoration: none;
}


.c-linkroll__featured {
	border-bottom: variables.$border-thin dotted transparent;
	@include mixins.var(color, card-text);
	font-family: variables6.$font-family-secondary;
	padding-bottom: 0.75rem;
}
