@use "../logic/mixins.var";
@use "../logic/variables.font-sizes";

.c-last-updated {
	@include mixins.var(color, text-accent);
	font-size: variables.$font-size-body-small;
	font-style: italic;
}


.c-last-updated__body {
	@include mixins.var(color, text-accent);
	font-size: variables.$font-size-body-small;
	font-style: italic;
}
