@use "sass:map";
@use "../imports/mappy-breakpoints";
@use "../logic/mixins.link-states" as mixins2;
@use "../logic/mixins.var";
@use "../logic/variables.borders";
@use "../logic/variables.font-sizes" as variables4;
@use "../logic/variables.global" as variables2;
@use "../logic/variables.line-heights" as variables5;
@use "../logic/variables.supports" as variables3;

$c-post-breathing-room: 6ex;
$c-post-vertical-spacing: 4ex;


// Post
//
// A post component contains all content and information used for The A11Y
// project's blog posts.
//
// Eleventy, the software that is used to generate this site, uses Markdown to
// convert blog post content into HTML code. Because of this, we use the class
// `c-post` as namespace that allows to easily create blog content-specific
// styling.
//
// This allows site authors to continue to write in Markdown without having to
// worry about using both HTML markup and learning and applying site-specific
// styling classes. It also ensures that future styling work is decoupled from
// content.
//
// Markup:
// <div
//   id="short-answer"
//   class="l-post__content c-content"
//   itemprop="articleBody">
//   …
// </div>
//
// Style guide: Components.post
.c-post__category {
	border-top: variables.$border-thick solid currentColor;
	@include mixins.var(color, rte-accent);

	p {
		border-bottom: variables.$border-thinnest solid currentColor;
		padding: 0.5rem 0 0.5rem map.get(variables2.$global-post-content-inset, small);
		text-transform: uppercase;

		// Breakpoints
		@include mappy-breakpoints.mappy-bp(palm-medium) {
			padding-left: map.get(variables2.$global-post-content-inset, medium);
		}

		@include mappy-breakpoints.mappy-bp(lap-medium) {
			padding-left: map.get(variables2.$global-post-content-inset, medium);
		}

		@include mappy-breakpoints.mappy-bp(lap-large) {
			padding-left: map.get(variables2.$global-post-content-inset, large);
		}

		// Supports
		@supports #{variables3.$supports-grid} {
			// Breakpoints
			@include mappy-breakpoints.mappy-bp(lap-medium) {
				padding-left: 0;
				padding-right: map.get(variables2.$global-post-content-inset, small);
				text-align: right;
			}
		}
	}
}


.c-post__category__link {
	@include mixins2.link-states(rte-accent);
	text-decoration: none;

	// States
	&:hover {
		text-decoration: underline;
	}
}


.c-post__title {
	@include mixins.var(color, heading-text);
	font-size: variables4.$font-size-heading-small;
	line-height: variables5.$line-height-tight;
	margin: 0.75rem map.get(variables2.$global-post-content-inset, small) 2rem map.get(variables2.$global-post-content-inset, small);
	padding-right: 1rem;

	// Breakpoints
	@include mappy-breakpoints.mappy-bp(palm-medium) {
		margin-right: map.get(variables2.$global-post-content-inset, small);
		margin-left: map.get(variables2.$global-post-content-inset, medium);
	}

	@include mappy-breakpoints.mappy-bp(lap-small) {
		font-size: variables4.$font-size-heading-largest;
		max-width: variables2.$global-type-measure;
	}

	// Supports
	@supports #{variables3.$supports-grid} {
		// Breakpoints
		@include mappy-breakpoints.mappy-bp(lap-small) {
			margin: 1rem 0 2rem map.get(variables2.$global-post-content-inset, medium);
		}

		@include mappy-breakpoints.mappy-bp(lap-medium) {
			margin-top: 0;
			margin-left: map.get(variables2.$global-post-content-inset, small);
		}
	}
}


.c-post__metadata {
	border-top: variables.$border-thinnest solid;
	border-bottom: variables.$border-thick solid;
	@include mixins.var(border-color, rte-accent);
	list-style-type: none;
	padding: 0.75rem map.get(variables2.$global-post-content-inset, small);

	// Breakpoints
	@include mappy-breakpoints.mappy-bp(palm-medium) {
		padding-left: map.get(variables2.$global-post-content-inset, medium);
	}

	// Supports
	@supports #{variables3.$supports-flex} {
		// Breakpoints
		@include mappy-breakpoints.mappy-bp(lap-small) {
			display: flex;
			flex-direction: row;
		}
	}

	// Supports
	@supports #{variables3.$supports-grid} {
		// Breakpoints
		@include mappy-breakpoints.mappy-bp(lap-small) {
			padding: 0.75rem map.get(variables2.$global-post-content-inset, medium);
		}

		@include mappy-breakpoints.mappy-bp(lap-medium) {
			padding-left: map.get(variables2.$global-post-content-inset, small);
		}
	}
}


.c-post__metadata--author,
.c-post__metadata--published,
.c-post__metadata--updated {
	display: block;
}


.c-post__metadata--author {
	margin-bottom: 0.5rem;

	// Breakpoints
	@include mappy-breakpoints.mappy-bp(lap-small) {
		margin-bottom: 0;
	}

	// Supports
	@supports #{variables3.$supports-flex} {
		flex-grow: 2;

		// Breakpoints
		@include mappy-breakpoints.mappy-bp(lap-small) {
			flex-grow: 4;
			margin-bottom: 0;
		}
	}
}


.c-post__metadata--published,
.c-post__metadata--updated {
	// Supports
	@supports #{variables3.$supports-flex} {
		flex-grow: 1;

		// Breakpokints
		@include mappy-breakpoints.mappy-bp(lap-small) {
			margin-left: 0.5rem;
		}
	}
}


.c-post__metadata-link {
	@include mixins2.link-states(heading-text);
	text-underline-offset: 0.2em;
}


.c-post__list-item {
	// Supports
	@supports #{variables3.$supports-flex} {
		flex-grow: 1;
	}
}


.c-content {
	line-height: variables5.$line-height-double;

	// Breakpoints
	@include mappy-breakpoints.mappy-bp(lap-small) {
		margin-right: 0;
	}

	// Supports
	@supports #{variables3.$supports-grid} {
		// Breakpoints
		@include mappy-breakpoints.mappy-bp(lap-small) {
			margin-right: 0;
		}
	}
}
