@use "../imports/mappy-breakpoints";
@use "../logic/mixins.var";
@use "../logic/variables.animation-duration"as variables5;
@use "../logic/variables.animation-easing"as variables6;
@use "../logic/variables.borders"as variables3;
@use "../logic/variables.font-sizes"as variables7;
@use "../logic/variables.global";
@use "../logic/variables.line-heights"as variables4;
@use "../logic/variables.supports"as variables2;

.c-recommended-reading {
    margin-top: 4ex;
    max-width: variables.$global-type-measure;

    // Supports
    @supports #{variables2.$supports-flex} {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        // Breakpoints
        @include mappy-breakpoints.mappy-bp(palm-small) {
            gap: 1.5rem;
        }
    }
}


.c-recommended-reading__wrapper {

    // Supports
    @supports #{variables2.$supports-flex} {
        display: flex;
        flex-direction: row;
        width: 50%;
    }
}


.c-recommended-reading__link {
    border-top: variables3.$border-thicker solid currentColor;
    @include mixins.var(background-color, post-rec-background);
    @include mixins.var(color, post-rec-accent);

    & {
        line-height: variables4.$line-height-tight;
        padding: 1rem;
        text-decoration: none;
        transition:
            background-color variables5.$animation-duration-shorter variables6.$animation-easing-character,
            color variables5.$animation-duration-shorter variables6.$animation-easing-character;
    }

    // States
    &:focus {
        outline: none !important;
    }

    &:hover,
    &:focus {
        @include mixins.var(background-color, post-rec-accent);

        .c-recommended-reading__category,
        .c-recommended-reading__title {
            @include mixins.var(color, post-rec-focus-text);
        }
    }

    // Breakpoints
    @include mappy-breakpoints.mappy-bp(palm-small) {
        padding: 1rem 1.5rem;
    }

    // User Queries
    @media screen and (prefers-reduced-motion: reduce) {
        transition: none;
    }
}


.c-recommended-reading__category {
    border-bottom: variables3.$border-thin dotted currentColor;
    display: block;
    padding-bottom: 0.75rem;
}


.c-recommended-reading__title {
    @include mixins.var(color, post-rec-text);

    & {
        display: block;
        font-size: variables7.$font-size-body-tiny;
        margin-top: 1rem;
    }

    // Breakpoints
    @include mappy-breakpoints.mappy-bp(palm-small) {
        font-size: variables7.$font-size-body;
    }
}