@use "../imports/mappy-breakpoints";
@use "../logic/mixins.var";
@use "../logic/variables.borders" as variables2;
@use "../logic/variables.global";
@use "../logic/variables.supports" as variables3;

.c-sponsors {
	@include mixins.var(background-color, sponsors-background);
}


.c-sponsor__link {
	width: variables.$global-sponsor-width;
	margin-bottom: 1rem;
	@include mixins.var(color, body-text);

	&:last-of-type {
		margin-bottom: 0;
	}

	// States
	&:focus {
		outline: variables2.$border-thin solid currentColor;
	}

	// Supports
	@supports #{variables3.$supports-grid} {
		// Breakpoints
		@include mappy-breakpoints.mappy-bp(palm-medium) {
			margin-bottom: 0;
		}
	}
}


.c-sponsor__ad {
	filter: var(--image-filter);
}
