@use "sass:map";
@use "../brand/colors";
@use "../logic/mixins.hide";
@use "../logic/variables.animation-duration" as variables4;
@use "../logic/variables.animation-easing" as variables5;
@use "../logic/variables.borders";
@use "../logic/variables.font-families" as variables2;
@use "../logic/variables.font-tracking" as variables3;
@use "../logic/variables.global" as variables6;

// Skipnav
//
// A skipnav, sometimes known as a jumpnav, allows someone to skip sections of
// content that are repeated from page to page. An example of this is skipping
// the main navigation that is repeated on every page of this site.
//
// Skipnav is useful to people who use screen readers, as it allows them to
// quickly get to the main point of the page. It is also useful to people with
// motor control disabilities, as it lessens the amount of effort it takes to
// navigate.
//
// A skipnav that links to the main content of the page should typically be the
// first thing you put in the code for your page templates. For The A11Y
// Project, it is the first piece of code used after the opening `body` element.
//
// Markup:
// <a class="c-skipnav" href="#title">Skip to content.</a>
//
// Style guide: Components.skipnav
.c-skipnav {
	@include mixins.hide(visually);

	background-color: colors.$color-white;
	border: variables.$border-thinner solid colors.$color-black;
	color: colors.$color-black;
	font-family: variables2.$font-family-secondary;
	letter-spacing: variables3.$font-tracking-slight;
	padding: 1rem 2rem;
	text-decoration: none;
	transition:
		background-color variables4.$animation-duration-short variables5.$animation-easing-character,
		color variables4.$animation-duration-short variables5.$animation-easing-character;

	// States
	&:focus {
		outline: none;
		position: absolute;
			top: 6rem;
			left: map.get(variables6.$global-bleed, large);
		z-index: 10;

		&:hover {
			background-color: colors.$color-black;
			color: colors.$color-white;
		}
	}

	// User Queries
	@media screen and (prefers-reduced-motion: reduce) {
		transition: none;
	}
}
