<div class="l-hero c-hero c-hero--home">
	{% include "heroes/svg/logo-lesgrandsvoisins-1200-600.njk" %}
	<div class="l-hero__promo c-a11y-summary">
		<h1 id="title" class="u-font-size-body-large c-a11y-summary__explanation">
			{{ title }}
		</h1>
		<p class="c-a11y-summary__mission">
			{{ subtitle }}
		</p>
	</div>
</div>

<p class="c-cta-get-started">
	<a class="u-text-transform-uppercase c-cta-get-started__link" href="#agenda">Bienvenue</a>
</p>
