// We want to make sure all colors are defined here in this file
// to make sure that we know of all the different color variables we have globally,
// but each color can be overridden in particular color schemes as needed.

$scheme-light: ("body-background": "sand",
    "body-text": "black",
    "kbd-text": "black",
    "kbd-background": "white",
    "pre-background": "black",
    "pre-text": "white",
    "code-background": "gray-wash",
    "samp-background": "wood",
    "mark-background": "straw",
    "mark-text": "black",
    "link-text": "sky",
    "link-focus-text": "white",
    "secondary-link-text": "black",
    "secondary-link-accent": "wood",
    "secondary-link-focus-background": "wood",
    "secondary-link-focus-text": "black",
    "button-background": "wood-shade",
    "button-text": "white",
    "button-focus-background": "black",
    "input-border": "gray",
    "input-hover-background": "white",
    "input-focus-border": "wood-shade",
    "error": "red",
    "progress-background": "black",
    "progress-bar": "straw",
    "divider-background": "sky-tint",
    "heading-text": "black",
    "heading-text-accent": "wood-shade",
    "text-accent": "gray",
    "nav-background": "black",
    "nav-link-text": "white",
    "nav-cta-background": "white",
    "nav-cta-text": "black",
    "hero-background": "sea-shade",
    "hero-background-text": "wood",
    "hero-content-background": "white",
    "hero-content-accent": "wood-tint",
    "hero-content-text": "black",
    "hero-content-text-accent": "wood",
    "toc-summary": "sky",
    "toc-link-text": "gray",
    "toc-link-focus-text": "black",
    "toc-indicator": "wood",
    "card-background": "white",
    "card-outline": "gray",
    "card-heading-text": "sky-shade",
    "card-meta-text": "gray",
    "card-text": "black",
    "card-focus-background": "sky",
    "card-focus-text": "white",
    "card-accent": "sky",
    "card-accent-shadow": "sky-shade",
    "card-accent-text": "white",
    "featured-card-background": "sky-tint",
    "featured-card-heading-text": "sky-shade",
    "featured-card-text": "black",
    "featured-card-focus-background": "sky",
    "featured-card-focus-text": "white",
    "featured-card-accent": "sky",
    "featured-card-accent-shadow": "sky-shade",
    "featured-card-accent-text": "white",
    "category-sea": "sea",
    "category-sea-background": "sea-tint",
    "category-gray": "gray",
    "category-gray-background": "gray-wash",
    "category-straw": "straw",
    "category-straw-background": "straw-tint",
    "category-sky": "sky",
    "category-sky-background": "sky-tint",
    "category-wood": "wood",
    "category-wood-background": "wood-tint",
    "checklist-accent": "sky-shade",
    "checklist-hover-icon": "sky-tint",
    "checklist-focus-background": "sky-shade",
    "checklist-focus-text": "white",
    "checklist-code-background": "sky-tint",
    "checklist-code-text": "black",
    "tag-background": "sky-tint",
    "do-accent": "sea-tint",
    "dont-accent": "wood-tint",
    "sponsors-background": "gray-wash",
    "rte-accent": "sea",
    "rte-code-background": "gray-shade-muted",
    "post-rec-background": "white",
    "post-rec-accent": "red-muted",
    "post-rec-text": "gray",
    "post-rec-focus-text": "white",
    "footer-link-text": "black",
    "footer-tagline-text": "sky-shade",
    "input-accent": "wood-shade",
);

$scheme-dark: ("body-background": "charcoal",
    "body-text": "gray-tint",
    "kbd-text": "gray-shade",
    "kbd-background": "gray-wash",
    "code-background": "black",
    "mark-background": "straw-muted",
    "mark-text": "black",
    "link-text": "sky-tint-muted",
    "link-focus-text": "black",
    "secondary-link-text": "white",
    "secondary-link-accent": "wood-muted",
    "secondary-link-focus-background": "wood-muted",
    "secondary-link-focus-text": "gray-wash",
    "button-background": "wood",
    "button-text": "black",
    "button-focus-background": "wood-tint-muted",
    "input-border": "gray",
    "input-hover-background": "black",
    "input-focus-border": "wood-muted",
    "error": "red-muted",
    "progress-bar": "straw-muted",
    "divider-background": "sky-shade",
    "heading-text": "white",
    "heading-text-accent": "sky-tint-muted",
    "text-accent": "gray-tint",
    "hero-background": "sea-shade",
    "hero-background-text": "wood-shade-muted",
    "hero-content-background": "black",
    "hero-content-accent": "wood-tint",
    "hero-content-text": "gray-tint",
    "hero-content-text-accent": "wood",
    "toc-summary": "sky-tint-muted",
    "toc-link-text": "gray-tint",
    "toc-link-focus-text": "white",
    "toc-indicator": "wood-shade",
    "card-background": "black",
    "card-outline": "gray-shade",
    "card-heading-text": "sky-tint-muted",
    "card-meta-text": "white",
    "card-text": "gray-tint",
    "card-focus-background": "sky",
    "card-focus-text": "white",
    "card-accent": "sky-shade",
    "card-accent-shadow": "sky-shade-muted",
    "card-accent-text": "white",
    "featured-card-background": "black",
    "featured-card-heading-text": "sky-tint-muted",
    "featured-card-text": "white",
    "featured-card-focus-background": "sky",
    "featured-card-focus-text": "white",
    "featured-card-accent": "sky-shade",
    "featured-card-accent-shadow": "sky-shade-muted",
    "featured-card-accent-text": "white",
    "category-sea": "sea-muted",
    "category-sea-background": "sea-shade",
    "category-gray": "gray",
    "category-gray-background": "gray-shade",
    "category-straw": "straw-shade",
    "category-straw-background": "straw-shade-muted",
    "category-sky": "sky-muted",
    "category-sky-background": "sky-shade-muted",
    "category-wood": "wood-muted",
    "category-wood-background": "wood-shade-muted",
    "checklist-accent": "sky-tint-muted",
    "checklist-hover-icon": "white",
    "checklist-focus-background": "sky-tint-muted",
    "checklist-focus-text": "black",
    "checklist-code-background": "sky-muted",
    "checklist-code-text": "gray-tint",
    "tag-background": "sky-shade-muted",
    "do-accent": "wood-tint-muted",
    "dont-accent": "sea-tint-muted",
    "rte-accent": "sea-tint-muted",
    "rte-code-background": "black",
    "post-rec-background": "gray-wash",
    "post-rec-text": "gray-shade",
    "sponsors-background": "gray-shade",
    "footer-link-text": "white",
    "footer-tagline-text": "sky-tint-muted",
);

:root {
    --image-filter: none;

    @each $name,
    $value in $scheme-light {
        #{"--color-" + $name}: var(--color-#{$value});
    }
}

@include dark-mode() {
    --image-filter: saturate(0.7);

    @each $name,
    $value in $scheme-dark {
        #{"--color-" + $name}: var(--color-#{$value});
    }
}
