@use "../../logic/mixins.post-content-flourish";
@use "../../logic/variables.font-families" as variables4;
@use "../../logic/variables.global";
@use "../../logic/variables.line-heights" as variables5;
@use "../../logic/variables.paths" as variables3;
@use "../../logic/variables.supports" as variables2;
@use "../c-post";

// Namespace
.c-content {
	// Measure
	dl,
	hr,
	ol,
	p,
	ul {
		max-width: variables.$global-type-measure;
	}

	// Vertical spacing
	blockquote,
	dl,
	h2,
	h3,
	h4,
	h5,
	h6,
	ol,
	p,
	pre,
	table,
	ul {
		margin-top: c-post.$c-post-vertical-spacing;
	}

	// Extra breathing room
	blockquote,
	figure,
	pre,
	table {
		margin-bottom: c-post.$c-post-breathing-room;
	}

	.template-collection & {
		p:first-of-type {
			margin-top: 0;
		}
	}

	// Supports
	@supports #{variables2.$supports-grid} {
		// Contexts
		.template-post & {
			// This selector targets only the first child paragraph of
			// `.c-content`, allowing us to apply the tl;dr image
			& > p:first-of-type {
				--filename: url("#{variables3.$path-to-img}/posts/section-short-answer-lightmode.svg");
				--filename-dark: url("#{variables3.$path-to-img}/posts/section-short-answer-darkmode.svg");
				font-size: 1.25rem;
				font-family: variables4.$font-family-secondary;
				line-height: variables5.$line-height-looser;
				margin-top: 0;
				margin-bottom: c-post.$c-post-vertical-spacing * 1.25;
				@include mixins.post-content-flourish(169, 0.75rem);
			}

			code,
			kbd {
				font-size: 80%;
			}
		}
	}
}
