---
layout: layouts/home.njk
title: Les Grands Voisins
lang: fr
subtitle: L'AUTRE EST UNE CHANCE
tags:
  - navprimary
  - home
---

<nav class="l-toc v-toc__nav" aria-label="Table of Contents">
  <h2 id="table-of-contents" class="u-hide-visually">Table de matières</h2>
  <ol>
    <li>
      <a href="#mission">Mission</a>
    </li>
    <li>
      <a href="#agenda">Agenda</a>
    </li>
    <li>
      <a href="#dons">Dons</a>
    </li>
    <li>
      <a href="#annuaire">Annuaire</a>
    </li>
    <li>
      <a href="#historique">Historique</a>
    </li>
    <li>
      <a href="#civisme">Civisme</a>
    </li>
    <li>
      <a href="#civisme">Arts plastiques</a>
    </li>
    <li>
      <a href="#civisme">Numérique</a>
    </li>
    <li>
      <a href="#equipe">Equipe</a>
    </li>
    <li>
      <a href="#compte">Votre compte</a>
    </li>
    <li>
      <a href="#blog">Blog</a>
    </li>
  </ol>
</nav>
<div class="l-content">
  <h2 class="c-heading-larger" id="agenda">Agenda</h2>
  <div class="c-homepage-feature c-homepage-feature--50-50">
    {% set agendaItem = homepage.agendaItems[0] %}
    {% include "homepage/agenda-item.njk" %}
    {% set agendaItem = homepage.agendaItems[1] %}
    {% include "homepage/agenda-item.njk" %}
  </div>
  <div class="c-homepage-feature c-homepage-feature--50-50">
    <div class="c-homepage-card">
      <h2 class="c-heading-larger" id="mission">Mission</h2>
      <p class="c-homepage-card__description">
        This checklist uses the The Web Content Accessibility Guidelines (<abbr>WCAG</abbr>) as a reference point. This checklist targets many, but not all level A and AA concerns.
      </p>
      <p>
        <a class="c-homepage-card__cta" href="{{ '/checklist/' | url }}">Review the checklist</a>
      </p>
    </div>
    <div class="c-homepage-card c-homepage-card--checklist">{% include "homepage/svg/checklist.njk" %}</div>
  </div>
  <div class="c-homepage-feature c-homepage-feature--50-50">
    <div class="c-homepage-feature c-homepage-feature--50-50">
      {% set spotlight = homepage.spotlight[0] %}
      {% include "homepage/spotlight.njk" %}
    </div>
  </div>
  <div class="l-content">
    <h2 class="c-heading-larger" id="historique">Annuaire</h2>
    <div class="c-homepage-feature c-homepage-feature--50-50">Content ici</div>
  </div>
  <div class="l-content">
    <h2 class="c-heading-larger" id="historique">Historique</h2>
    <div class="c-homepage-feature c-homepage-feature--50-50">Content ici</div>
  </div>
  <div class="l-content">
    <h2 class="c-heading-larger" id="civisme">Civisme</h2>
    <div class="c-homepage-feature c-homepage-feature--50-50">Content ici</div>
  </div>
  <div class="l-content">
    <h2 class="c-heading-larger" id="arts-plastiques">arts-plastiques</h2>
    <div class="c-homepage-feature c-homepage-feature--50-50">Content ici</div>
  </div>
  <div class="l-content">
    <h2 class="c-heading-larger" id="numerique">numerique</h2>
    <div class="c-homepage-feature c-homepage-feature--50-50">Content ici</div>
  </div>
  <div class="l-content">
    <h2 class="c-heading-larger" id="equipe">equipe</h2>
    <div class="c-homepage-feature c-homepage-feature--50-50">Content ici</div>
  </div>
  <div class="l-content">
    <h2 class="c-heading-larger" id="votre-compte">votre-compte</h2>
    <div class="c-homepage-feature c-homepage-feature--50-50">Content ici</div>
  </div>
  <div class="c-homepage-feature c-homepage-feature--60-40">
    <div class="c-homepage-card c-homepage-card--resources">
      <h2 class="c-heading-larger" id="blog">Blog</h2>
      <p class="c-homepage-card__description">
        Tools, books, videos, podcasts, newsletters, even professional help! A lot of people have made a lot of great things to help you out. We collect them to help you discover and explore.
      </p>
      <p>
        <a class="c-homepage-card__cta" href="{{ '/resources/' | url }}">See all resources</a>
      </p>
    </div>
    <div class="c-homepage-card">
      {# {% set postlist = collections.posts | head(-1) %} #}
      <h2 class="c-heading-larger" id="blog-posts">Atricles de blog</h2>
      <ul class="c-linkroll">
        {% for post in collections.posts | head(-3) | reverse %}
          {% include "linkroll.njk" %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
